<h1>Buyers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let buyer of allBuyers ">
      <td class="align-middle">
        <a [routerLink]="['/buyers', buyer.id]">
        {{ buyer.firstName }} {{ buyer.lastName }}
        </a>
      </td>
      <td class="align-middle">{{ buyer.email }}</td>
      <td><button class="btn btn-danger btn-sm" (click)="remove(buyer)">Remove</button></td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
