<h1>Buyers</h1><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th><th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let buyer of allBuyers ">
      <td class="align-middle">
        {{ buyer.firstName }} {{ buyer.lastName }}        
      </td>
      <td class="align-middle">{{ buyer.email }}</td>
      <td class="align-middle"><a [routerLink]="['/buyers', buyer.id]">Check latest purchases</a> </td>
      <td><button class="btn btn-danger btn-sm" (click)="remove(buyer)">Remove</button></td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>

<div>
	<form class="form-group">
		<div class="input-group col-md-4 pl-0 my-lg-4 my-2">
			<span class="input-group-addon">Name</span>
			<input type="text" name="firstName" [(ngModel)]="newBuyer.firstName" />
		
			<span class="input-group-addon">Last Name</span>
			<input type="text" name="lastName" [(ngModel)]="newBuyer.lastName" />
		
			<span class="input-group-addon">Email</span>
			<input type="text" name="email" [(ngModel)]="newBuyer.email" />
		
			<button type="button" class="btn btn-primary" (click)="addBuyer(newBuyer)" type="button">
			Add New Buyer</button>
		</div>
	</form>
